//h1 Your matches in #{currUser.lastSearchedCity}:
.container

    #my_modal.well(style='display: none; margin: 1em;')
        a.my_modal_close(href='#', style='float: right; padding: 0 0.4em;') ×
        h4 Add Listing to:
        form(name="roommate-criteria", action="/roommates/search", method="post")
            if groups != undefined && groups.length > 0
                .btn-group
                    label Choose Group  
                      button.btn.dropdown-toggle(data-toggle='dropdown')
                        span.caret
                      ul.dropdown-menu
                        each group, j in groups
                            li
                                a(class="addStarredToGroup", value="#{group._id}", href="") #{group.group_name}
            else
                | No Groups to Choose From- to add one go to the 
                a(href="/home") Home 
                | tab


    .row(style="margin-bottom: 20px; margin-left: 20px")
        h1(style="text-align: center")  Your Matches:
        each match, i in matches
            .well.span3(value=match._id, id="roommate-match", style="margin-bottom: 50px; background-color: #CFCFCF")
                img(src="#{match.profPicURL}", id="match-pic")
                br
                center
                    h4 #{match.name}
                    br
                    .btn-group
                        button.btn(class="goToMatchFB", value="#{match.FBID}")
                            i.icon-thumbs-up
                        button.btn 
                            i.icon-pencil
                        button.btn.my_modal_open(class= "setUserGlobal", value="#{match.FBID}")
                            i.icon-plus




