h1 Your Matches:
//h1 Your matches in #{currUser.lastSearchedCity}:
.container
    .marketing
        p.marketing-byline Based on your survey results and Facebook friend network

        .row(style="margin-bottom: 20px")
            each match, i in matches
                .well.span3(value=match._id, id="roommate-match", style="margin-bottom: 50px")
                    img(src="#{match.profPicURL}", id="match-pic")
                    br
                    center
                        h4 #{match.name}
                        br
                        .btn-group
                            button.btn(class="goToMatchFB", value="#{match.FBID}")
                                i.icon-thumbs-up
                            button.btn 
                                i.icon-pencil
                            button.btn(class="addToStarredRoommates", value="#{match.FBID}")
                                i.icon-plus

