extends layout

block content
    #my_modal.well(style='display: none; margin: 1em;')
        a.my_modal_close(href='#', style='float: right; padding: 0 0.4em;') ×
        h4 Add Listing to:
        if groups != undefined && groups.length > 0
            .btn-group
                label Choose Group  
                  button.btn.dropdown-toggle(data-toggle='dropdown')
                    span.caret
                  ul.dropdown-menu
                    each group, j in groups
                        li
                            a(class="addStarredListingToGroup", value="#{group._id}", href="") #{group.group_name}
    
    div.row.container-narrow
        div.span11.offset3.center.well(style="margin-top: 30px")
            each option, i in housingOptions
                div.well(style="background-color: #CFCFCF")
                    div.well
                        div.row(value=option, id="craigslist-object;", style="margin-top: 50px; margin-left: 20px")
                            span.span3
                                h3 Go to Listing: 
                                a(href="http://sfbay.craigslist.org" + "#{option.listing_title}", target="_blank")  http://sfbay.craigslist.org#{option.listing_title}
                                h3 Area: 
                                | #{option.area}

                                h3 Price:
                                | #{option.price}
                                    
                                if option.address != undefined
                                    h3 Address: 
                                    | #{option.address}
                                    br
                            span.span5.offset1.craigslistImages
                                if option.image_URLs != undefined
                                    if option.image_URLs[0] != undefined
                                        img(src="#{option.image_URLs[0]}")
                                    else
                                        img(src="http://www.aobc.net/wp-content/uploads/2012/09/NotAvailable300.png", style="margin-left: 30px; width: 350px; height:270px")
                            br
                            div.span9
                                h3 Description: 
                                | #{option.description}

                                br
                                .btn-group(style="margin-top:50px;")
                                    button.btn
                                        i.icon-thumbs-up
                                    button.btn 
                                        i.icon-pencil
                                    button.btn.my_modal_open(class="setHousingGlobal", value="#{option._id}")
                                        i.icon-plus
