extends layout

block content
	h1= title
	p Welcome to #{title}


	each option, i in housingOptions
		div.row(value=option, id="craigslist-object")
			div.span8.offset6.well
				if option.address != undefined
					h2 Address: 
					| #{option.address}
					br
					br
				h2 Description: 
				| #{option.description}
				br
				br
				if option.image_URLs[0] != undefined
					each image, j in option.image_URLs
						if option.image_URLs[j] != undefined
							img(src="#{option.image_URLs[j]}", id="housing-listing-image")
