extends layout

block content
    title= title

    div.row.container-narrow
        div.span5.well(id="group-create", style="margin-top: 30px; margin-left:230px")
            form(name="new-group", action="/group/new", method="post")
                h3 Create New Group 
                label Name: 
                input(type="text", name="group_name")
                button.btn(type="submit", id="roommate-search-submit")
                    i.icon-plus
                    |  Create Group
        div.span4.offset8.well(id="my-groups", style="margin-top: 30px")
            h3 My Groups
            each group, j in groups
                | #{group.group_name}
                br
                br
    .row.span4.offset3(style="margin-top: 50px; margin-right: 100px;")
        h2 Welcome to Your Internopolis
        br
        h4 Your personal pinboard of housing and roommate listings. 
        | Your current starred listings are:  
    .row(style="margin-top: 50px; margin-bottom: 20px; text-align: center; margin-left: 100px")
        each roommate, i in starred_roommates
            .well.span3(value=roommate, id="starred-roommate", style="margin-bottom: 30px")
                img(src="#{roommate.profPicURL}", style="width:200px; height:200px")
                br
                center
                    h4 #{roommate.name}




