extends layout

block content
    title= title

    div.row.container-narrow
        div.span5.offset3.well(id="group-create", style="margin-top: 30px;")
            form(name="new-group", action="/group/new", method="post")
                h3 Create New Group 
                label Name: 
                input(type="text", name="group_name")
                button.btn(type="submit", id="roommate-search-submit")
                    i.icon-plus
                    |  Create Group

        #fb_message_modal.well(style='display: none; margin: 1em;')
            a.fb_message_modal_close(href="#", style='float: right; padding: 0 0.4em;') × 
                script(src='http://connect.facebook.net/en_US/all.js')
                script
                  // assume we are already logged in
                  FB.init({appId: process.env.FACEBOOK_APPID, xfbml: true, cookie: false});
                  FB.ui({
                      method: 'send',
                      display: 'popup',
                      to: 100003129971591, 
                      name: 'Making the Hard Parts of Internships Easy',
                      link: 'http://internopolis.herokuapp.com', // REALLY NEED THE GROUP ID HERE, WILL HAVE TO COME IN THE JAVASCRIPT
                  });

        #invite_modal.well(style='display: none; margin: 1em;')
            a.invite_modal_close(href='#', style='float: right; padding: 0 0.4em;') ×
            form(name="inviteFBFriends", action="/group/inviteFBFriend", method="post")
                .btn-group
                    label Invite Facebook Friend to Group  
                    input(type="text", name="friend_name", placeholder= "Name")
                    button.btn.fb_message_modal_open(type="submit") 
                        i.icon-search
                        | Search
            br      
            form(name="sendInviteEmail", class="sendInviteEmail")
                .btn-group        
                    label Not a Facebook Friend? No problem!
                    input(type="text", name="friend_email", placeholder = "Email Address")
                    button.btn(type="submit")
                        i.icon-plus
                        | Invite  


        div.span4.well(id="my-groups", style="margin-top: 30px")
                h3 My Groups
                each group, j in groups
                    button.btn.invite_modal_open(type="submit", class="setGlobalInviteVar", value="#{group._id}")
                        i.icon-user
                        |  Invite Friends to Group
                    h4 #{group.group_name}
                    br
                    | Members
                    each member, k in group.members
                        img(src="#{member.profPicURL}", style="width:100px")
                    div.offset1
                        button.btn(class="removeGroup", value="#{group._id}")
                            icon.icon-remove
                        br
                    | Starred Roommates
                    br
                    each roommate, z in group.group_starredRoommates
                        if roommate != null
                            img(src="#{roommate.profPicURL}", style="width:100px; height: 100px")
                    br  
                    | Starred Housing
                    br
                    each listing, x in group.group_starredHousing
                        if listing != null
                            | #{listing.description}
                        
    .row.span4.offset3(style="margin-top: 50px; margin-right: 100px;")
        h2 Welcome to Your Internopolis
        br
        h4 Your personal pinboard of housing and roommate listings. 
        | Your current starred listings are:  
    .row(style="margin-top: 50px; margin-bottom: 20px; text-align: center; margin-left: 100px")
        each roommate, i in starred_roommates
            .well.span3(value=roommate, id="starred-roommate", style="margin-bottom: 30px")
                img(src="#{roommate.profPicURL}", style="width:200px; height:200px")
                br
                center
                    h4 #{roommate.name}




