extends layout

block content
    title= title

    div.row.container-narrow
        div.span3.offset3.well(id="group-create", style="margin-top: 30px;")
            form(name="new-group", action="/group/new", method="post")
                h3 Create a New Group 
                label Name: 
                input(type="text", name="group_name")
                button.btn(type="submit", id="roommate-search-submit")
                    i.icon-plus
                    |  Create Group

        #fb_message_modal.well(style='display: none; margin: 1em;')
            a.fb_message_modal_close(href="#", style='float: right; padding: 0 0.4em;') × 
                script(src='http://connect.facebook.net/en_US/all.js')
                #fb-root

        #invite_modal.well(style='display: none; margin: 1em;')
            a.invite_modal_close(href='#', style='float: right; padding: 0 0.4em;') ×
            form(name="inviteFBFriends", action="/group/inviteFBFriend", method="post")
                .btn-group
                    label Invite Facebook Friend to Group  
                    input(type="text", name="friend_name", placeholder= "Name")
                    button.btn.invite_modal_close(type="submit", class="inviteFBFriend") 
                        i.icon-plus
                        | Invite
            br      
            form(name="sendInviteEmail", class="sendInviteEmail")
                .btn-group        
                    label Not a Facebook Friend? No problem!
                    input(type="text", name="friend_email", placeholder = "Email Address")
                    button.btn(type="submit")
                        i.icon-plus
                        | Invite  


        div.span7.well(id="my-groups", style="margin-top: 30px")
                h3 My Groups
                if groups.length == 0
                    h4 No groups yet. Create one and invite your friends!
                each group, j in groups
                    div.well(style="background-color: #CFCFCF")
                        button.btn(href='#', class="removeGroup", value="#{group._id}", style='float: right; padding: 0 0.4em;')
                            icon.icon-remove
                        div.well
                            div.row
                                div.span3
                                    h4 #{group.group_name}
                                    form(name="goToGroup", action="/group/" + "#{group._id}", method="post")
                                        button.btn(type="submit", value="#{group._id}", name="groupID") Go To Group 
                                div.span3.offset3(style="font-size: 22px; margin-top:-50px")
                                    | #{group.members.length} members, #{group.group_starredRoommates.length} starred roommates, #{group.group_starredHousing.length} starred listings

                            
                        
                            h4 Members
                            each member, k in group.members
                                img(src="#{member.profPicURL}", style="width:100px")
                            button.btn.invite_modal_open(type="submit", class="setGlobalInviteVar", value="#{group._id}", style="margin-left: 30px; font-size: 20px")
                                i.icon-user
                                |  Invite Friends 
                                br
                                | to Group
                                    




